.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    /*transition: transform 0.25s ease-out;*/
    -webkit-transition: all 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s ease-out; /* For Mozila */
    -o-transition: all 0.3s ease-out; /* For opera */
    transition: all 0.3s ease-out;
}

.card-container:hover {
    transform: scale(1.005);
    /*box-shadow: 0px 2px 5px rgba(76, 76, 76, 0.19), 0px 2px 10px rgba(76, 76, 76, 0.29);*/
    box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.24), 1px 1px 15px rgba(0, 0, 255, 0.34);
    border: solid 1px blue;
    -webkit-transition: all 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s ease-out; /* For Mozila */
    -o-transition: all 0.3s ease-out; /* For opera */
    transition: all 0.3s ease-out;
}