.search {
    -webkit-appearance: none;
    border: solid 1px #dedede;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin: 30px 0;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s ease-out; /* For Mozila */
    -o-transition: all 0.3s ease-out; /* For opera */
    transition: all 0.3s ease-out;
}

.search:hover, .search:focus {
    /*box-shadow: 1px 1px 2px rgba(4, 3, 4, 0.04), 1px 1px 5px rgba(4, 3, 4, 0.14);*/
    border: solid 1px #cecece;
    -webkit-transition: all 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s ease-out; /* For Mozila */
    -o-transition: all 0.3s ease-out; /* For opera */
    transition: all 0.3s ease-out;
}

.search:focus {
    border: solid 1px blue;
    box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.24), 1px 1px 15px rgba(0, 0, 255, 0.34);
    -webkit-transition: all 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.3s ease-out; /* For Mozila */
    -o-transition: all 0.3s ease-out; /* For opera */
    transition: all 0.3s ease-out;
}